@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@300;400;700&family=Lora:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom, #ffffff 10%, #F0F1FF 70%);
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
    margin: 0 0 0 0;
    padding: 0;
}

.content-container {
  background-color: red;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 0;
}

.header-container {
  display: flex;
}

.header-logo {
  width: 28.05px;
  margin-left: 24px;
  margin-top: 24px;
}

.header-btn {
  background-color: none;
}