@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@300;400;700&family=Lora:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

:root {
  --background-color-light: #ffffff;
  --background-color-dark: #000000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: var(--background-color-light);
  background-attachment: fixed;
}

html.dark-mode {
  background-color: var(--background-color-dark);
}



img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
  margin: 0 0 0 0;
  padding: 0;
  font-family: var(--selected-font-family);
}


.content-container {
  background-color: var(--background-color-light);
  height: 100%;
  width: 100%;
}

.content-container.dark-mode {
  background-color: var(--background-color-dark);
}

h1 {
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-top: 24px;
}

.header-logo {
  width: 28.05px;
  margin-right: 95.95px;
}

.font-dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  min-width: 120px;
}

.dropdown-menu {
  padding: 10px 0 10px 10px;
  width: 143px;
  height: 152x;
  border-radius: 16px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.dark-mode .dropdown-menu {
  border-radius: 16px;
  background: #1F1F1F;
  box-shadow: 0px 0px 15px 0px #A445ED;
}

.dark-mode .dropdown-menu-item {
  color: #fff;
  background: #1F1F1F;
}

.dark-mode .dropdown-menu-item:hover {
  color: #a445ed;
}

.sans-serif {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.font-dropdown-selection:hover {
  color: #a445ed;
}

.serif {
  font-family: "Lora", serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.mono {
  font-family: "Inconsolata", monospace;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.dropdown-arrow {
  margin: 8px 16px 0 5px;
}

.header-btn {
  background-color: none;
}

.hdr-vl {
  border-left: 1px solid #e9e9e9;
  height: 32px;
  width: 1px;
}

.mode-toggle-container {
  display: flex;
  margin-left: 16px;
}

.light-mode-checked {
  background-color: #757575;
}

.dark-mode-checked {
  background-color: #a445ed;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.moon {
  margin-left: 10px;
  height: 20px;
}

.moon.dark-mode path {
  stroke: #A445ED;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* width: 327px;
  height: 48px; */
  margin: 24px 24px;
}

form {
  display: flex;
  justify-content: flex-start;
  background-color: #f4f4f4;
  border-radius: 16px;
  /* padding: 2px; */
  /* border: 1px solid currentColor; */
  /* margin: 0 0 30px; */
}

input[type="search"] {
  border: none;
  background: transparent;
  width: 327px;
  height: 48px;
  margin: 0;
  margin-left: 24px;
  font-size: 1.6rem;
  font-family: var(--selected-font-family);
  font-weight: 700;
  line-height: normal;
  color: #2d2d2d;
}

input[type="search"]::placeholder {
  color: #bbb;
  font-weight: 400;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin-right: 15px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath fill='none' stroke='%23A445ED' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m12.663 12.663 3.887 3.887M1 7.664a6.665 6.665 0 1 0 13.33 0 6.665 6.665 0 0 0-13.33 0Z'/%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 1px transparent;
  border-color: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button[type="submit"]:hover {
  opacity: 1;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.error-emoji {
  font-size: 4.4rem;
  margin: 50px 0 10px 0;
}

.no-def-found > h3 {
  color: #2d2d2d;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.no-def-found > h4 {
  color: #757575;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 30px 0 30px;
}

.empty-error {
  display: none;
  color: #ff5252;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  margin-top: -18px;
}

h1 {
  color: #2d2d2d;
  font-family: var(--selected-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.results-header > h2 {
  color: #A445ED;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.results-header {
  display: grid;
  grid-template-areas: 
    "h1 audio"
    "h2 audio";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 24px;
  margin-right: 24px;
  /* margin-bottom: 15px; */
}

.results-header > h1 {
  grid-area: h1;
}

.results-header > h2 {
  grid-area: h2;
  margin-top: 5px;
}

.results-header > .audio {
  grid-area: audio;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playSVG {
  width: 48px;
  height: 48px;
}

.results-meanings {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.results-meanings h2 {
  color: #2D2D2D;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.meaning-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 33px;
}

#first-partOfSpeech {
  margin-top: -20px;
}

.hl {
  border-top: 1px solid #E9E9E9;
  opacity: 1;
  width: 266px;
  margin-left: 16px;
  margin-top: 3px;
}

.results-meanings h3 {
  color: #757575;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
  text-align: justify;
}

.definition-li-container li::before {
  content: "•";
  width: 5px;
  height: 5px;
  color: #8F19E8;
  margin-right: 15px;
}

.definition {
  /* color: #2D2D2D; */
  margin-left: 25px;
  text-indent: -25px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 13px;
}

.synonym-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.synonym {
  color: #A445ED;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3px;
  text-align: justify;
}

.synonym-container h3 {
  margin-right: 10px;
  margin-bottom: 0px;
}

.synonym-container li {
  list-style: none;
}

.antonym-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.antonym {
  color: #A445ED;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3px;
  text-align: justify;
}

.antonym-container h3 {
  margin-right: 10px;
  margin-bottom: 0px;
}

.antonym-container li {
  list-style: none;
}

.example {
  color: #757575;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin: -10px 0 13px 24px;;
  padding: 0;
}

.footer-hl {
  border-top: 1px solid #E9E9E9;
  opacity: 1;
  width: 327px;
  height: 1px;
  margin: 19px 0 24px 24px;
}

.source-footer {
  margin: 0 0 0 24px;
}

h4 {
  color: #757575;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 8px;
}

.source-url-container {
  display: flex;
  flex-direction: row;
}

.source-url {
  display: inline;
  color: #2D2D2D;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 85px;
}

.source-url-container svg {
  display: inline;
  margin-left: 9px;
}
